<style>
    #sidebar {
        overflow-y: auto;
    }
  #place-info {
    height: 200px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 15px;
  }
  #place-info .nav {
    display: flex;
    flex-wrap: initial!important;
  }
  #place-info .nav .card {
    margin-left: 10px;
  }
</style>

{% include 'stats/navbar-top.html' %}

<div id="content" class="container-fluid h-100">
  <div class="row h-100">

    {% include 'stats/navbar-side.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 d-flex flex-column h-100">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Places</h1>
      </div>
      <div id="place-info" class="row">
        <div class="nav"></div>
      </div>
      <div class="row h-100">
          <div id="sidebar" class="col-3 pr-0">
            <div id="place-listing">
              <ul class="list-group list-group-flush"></ul>
            </div>
          </div>
          <div id="map" class="col-9 ml-sm-auto pl-0"></div>
      </div>
    </main>

  </div>
</div>
<script>
    var places = {{ places|tojson|safe }};
    var selectedPlace = null;
    var placesFeatures = null;

    mapboxgl.accessToken = 'pk.eyJ1IjoiYmVuamJhcm9uIiwiYSI6InItaHotTkkifQ.Im25SdEu7d8FNUSXKq8orA';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/benjbaron/cjiyeb3zs97f92rnvy6f5mk8d',
        center: [-0.134548, 51.524526],
        zoom: 8
    });


    map.on('load', function() {
        showPlaces();
    });

    function showPlaces() {
        placesFeatures = {
            "type": "FeatureCollection",
            "features": []
        };

        Object.keys(places).forEach(function (placeId, index) {
            var place = places[placeId];
            addPlace(place, index);

            // add the feature to the places.
            var icon = "static/img/icons/"+place['icon']+".svg";
            var feature = {
                "type": "Feature",
                "properties": {
                    "id": place['place_id'],
                    "icon": icon,
                    "icon-name": place['icon'],
                    "name": place['place_name'],
                    "address": place['address'],
                    "city": place['city'],
                    "category": place['category'],
                    "fulladdress": place['fulladdress'],
                    "position": index
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [place['longitude'], place['latitude']]
                }
            };

            placesFeatures.features.push(feature);
        });

        if (placesFeatures.features.length > 0) {
            createLayer(placesFeatures);

            var bbox = turf.bbox(placesFeatures);
            map.fitBounds(bbox, {padding: 50});
        }
    }

    function addPlace(place, index) {
        var icon = "../static/img/icons/" + place['icon'] + ".svg";
        var el = $('<li class="list-group-item d-flex flex-row" data-position="'+index+'" data-id="'+place['place_id']+'"><div class="mr-3"><img width="25" height="25" src="'+icon+'"></div><div class="d-flex flex-column"><b>'+place['place_name']+'</b><small>'+place['fulladdress']+'</small></div></li>');
        $('#place-listing ul').append(el);

        // Add an event listener for the links in the sidebar listing
        el.click(function(e) {
          // Update the currentFeature to the store associated with the clicked link
          var place = placesFeatures.features[$(this).data("position")];
          placeClick(place, $(this));
        });
    }

    function placeClick(place, listing) {

        createPopUp(place);

        var activeItem = $('#place-listing ul li.active');
        if (activeItem) {
          activeItem.removeClass('active');
        }
        listing.addClass('active');

        // scroll the places to the selected item
        var offset = $('#place-listing ul li.active').offset().top + $('#place-listing ul li.active').height() - $('#place-listing').offset().top;
        if (offset < 0 || offset > $('#place-listing').height()) {
          $('#place-listing').animate({
            scrollTop: $('#place-listing').scrollTop() + $('#place-listing ul li.active').offset().top - $('#place-listing').offset().top},
            'slow');
        }

        selectedPlace = place.properties.id;

        // populate the place information div
        $.getJSON("getplaceratings", {id: selectedPlace}, function (d) {
            $("#place-info .nav").empty();
            // sort by average rating.
            var sortedKeys = Object.keys(temp1).sort((a, b) => parseFloat(d[b]['avg_rating']) - parseFloat(d[a]['avg_rating']));
            // display the elements.
            sortedKeys.forEach(function (i) {
                var e = d[i];

                $("#place-info .nav").append('<div class="card" style="width: 18rem;">' +
                    '<div class="card-header">'+e.name+'</div>' +
                    '<div class="card-body">' +
                    '<p class="card-text">Ratings: '+e.ratings+'</p></div></div>');
            })
        });

    }

    function createPopUp(currentFeature) {
        var popUps = document.getElementsByClassName('mapboxgl-popup');
        // Check if there is already a popup on the map and if so, remove it
        if (popUps[0]) popUps[0].remove();

        var popup = new mapboxgl.Popup({ closeOnClick: false })
          .setLngLat(currentFeature.geometry.coordinates)
          .setHTML('<h3>' + currentFeature.properties.name + '</h3>' +
            '<h4>' + currentFeature.properties.fulladdress + '</h4>')
          .addTo(map);
    }


    function createLayer(features) {
        map.addSource('places', {
            type: "geojson",
            data: features
        });

        map.addLayer({
            id: "places",
            source: "places",
            type: "symbol",
            "layout": {
                "icon-image": "{icon-name}-15",
                "icon-allow-overlap": true,
                "text-allow-overlap": true,
                "text-field": "{name}",
                "text-font": ["Open Sans Bold", "Arial Unicode MS Bold"],
                "text-size": 11,
                "text-transform": "uppercase",
                "text-letter-spacing": 0.05,
                "text-max-width": 15,
                "text-anchor": "top",
                "text-offset": [0, 1]
            },
            "paint": {
                "text-color": "#000",
                "text-halo-color": "#fff",
                "text-halo-width": 2
            }
        });

        // Center the map on the coordinates of any clicked symbol from the 'symbols' layer.
        map.on('click', 'places', function (e) {
            var place = e.features[0];
            var i = e.features[0].properties.position;
            var listing = $("#place-listing ul").find("[data-position='" + i + "']");

            placeClick(place, listing);
        });

        // Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
        map.on('mouseenter', 'places', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'places', function () {
            map.getCanvas().style.cursor = '';
        });
    }


</script>