<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Semantica | Finish</title>
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <div id="welcome" class="d-flex justify-content-center">
      <div class="mt-5 mx-auto d-flex flex-column">
        <img height="100" width="100" class="ml-auto mr-auto" src="static/img/location-arrow.svg">
        <h1 class="text-center mt-2">Semantica</h1>
          <h4 class="text-center mt-4"><b>Thank you very much for participating<br/>in this study!</b></h4>
      </div>
    </div>
  </body>
</html>

