pymongo
flask
gevent==1.2.2
flask_mail
flask_socketio
Flask-BasicAuth
pillow
kombu
lxml
psycopg2-binary
requests
werkzeug
geojson
shapely
geocoder
numpy
sklearn
scipy
nltk
pika
git+git://github.com/djacobs/PyAPNs@master#egg=apns
raven